<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AgOpenGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup><userSettings>
        <AgOpenGPS.Properties.Settings>
            <setting name="setDisplay_camPitch" serializeAs="String">
                <value>-62</value>
            </setting>
            <setting name="setWindow_Location" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="setWindow_Size" serializeAs="String">
                <value>1005, 730</value>
            </setting>
            <setting name="setWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWindow_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_triangleResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setMenu_isMetric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isGridOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isLightbarOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setF_CurrentDir" serializeAs="String">
                <value />
            </setting>
            <setting name="setF_isWorkSwitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_pitchZeroX16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setIMU_rollZero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setF_minFixStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setAS_lowSteerPWM" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="setAS_wasOffset" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setF_UserTotalArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_minSteerPWM" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="setF_boundaryTriggerDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setAS_highSteerPWM" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="setMenu_isSideGuideLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_countsPerDegree" serializeAs="String">
                <value>110</value>
            </setting>
            <setting name="setMenu_isPureOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isSimulatorOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isSkyOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setF_culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="setF_workingDirectory" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="setDisplay_lightbarCmPerPixel" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setGPS_fixFromWhichSentence" serializeAs="String">
                <value>GGA</value>
            </setting>
            <setting name="setGPS_headingFromWhichSource" serializeAs="String">
                <value>Fix</value>
            </setting>
            <setting name="setGPS_SimLatitude" serializeAs="String">
                <value>53.4360564</value>
            </setting>
            <setting name="setGPS_SimLongitude" serializeAs="String">
                <value>-111.160047</value>
            </setting>
            <setting name="setAS_snapDistance" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="setF_isWorkSwitchManualSections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_isAutoSteerAutoOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_lineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setDisplay_panelSimLocation" serializeAs="String">
                <value>97, 600</value>
            </setting>
            <setting name="setTram_tramWidth" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="setTram_snapAdj" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setTram_passes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTram_offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setMenu_isOGLZoomOn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setMenu_isCompassOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isSpeedoOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_colorDayFrame" serializeAs="String">
                <value>210, 210, 230</value>
            </setting>
            <setting name="setDisplay_colorNightFrame" serializeAs="String">
                <value>50, 50, 65</value>
            </setting>
            <setting name="setDisplay_colorSectionsDay" serializeAs="String">
                <value>27, 151, 160</value>
            </setting>
            <setting name="setDisplay_colorFieldDay" serializeAs="String">
                <value>130, 130, 150</value>
            </setting>
            <setting name="setDisplay_isDayMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setDisplay_colorSectionsNight" serializeAs="String">
                <value>27, 100, 100</value>
            </setting>
            <setting name="setDisplay_colorFieldNight" serializeAs="String">
                <value>60, 60, 60</value>
            </setting>
            <setting name="setDisplay_isAutoDayNight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_customColors" serializeAs="String">
                <value>-62208,-12299010,-16190712,-1505559,-3621034,-16712458,-7330570,-1546731,-24406,-3289866,-2756674,-538377,-134768,-4457734,-1848839,-530985</value>
            </setting>
            <setting name="setDisplay_isTermsAccepted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setGPS_isRTK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_isStartFullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_isKeyboardOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIMU_fusionWeight" serializeAs="String">
                <value>0.06</value>
            </setting>
            <setting name="setIMU_rollFilter" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_uTurnSmoothing" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="setIMU_invertRoll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_ackerman" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setF_isWorkSwitchActiveLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAS_Kp" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setSound_isUturnOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setSound_isHydLiftOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setDisplay_colorTextNight" serializeAs="String">
                <value>230, 230, 230</value>
            </setting>
            <setting name="setDisplay_colorTextDay" serializeAs="String">
                <value>10, 10, 20</value>
            </setting>
            <setting name="setTool_isTramOuter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setTram_isTramOnBackBuffer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setDisplay_camZoom" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="setDisplay_colorVehicle" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="setDisplay_vehicleOpacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setDisplay_isVehicleImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIMU_isHeadingCorrectionFromAutoSteer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_isTextureOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAB_lineLength" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="SetGPS_udpWatchMsec" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setF_isSteerWorkSwitchManualSections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_isConstantContourOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_guidanceLookAheadTime" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="setIMU_isDualAsIMU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_sideHillComp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setIMU_isReverseOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setGPS_forwardComp" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="setGPS_reverseComp" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="setGPS_ageAlarm" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="setGPS_isRTK_KillAutoSteer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setColor_sec01" serializeAs="String">
                <value>249, 22, 10</value>
            </setting>
            <setting name="setColor_sec02" serializeAs="String">
                <value>68, 84, 254</value>
            </setting>
            <setting name="setColor_sec03" serializeAs="String">
                <value>8, 243, 8</value>
            </setting>
            <setting name="setColor_sec04" serializeAs="String">
                <value>233, 6, 233</value>
            </setting>
            <setting name="setColor_sec05" serializeAs="String">
                <value>200, 191, 86</value>
            </setting>
            <setting name="setColor_sec06" serializeAs="String">
                <value>0, 252, 246</value>
            </setting>
            <setting name="setColor_sec07" serializeAs="String">
                <value>144, 36, 246</value>
            </setting>
            <setting name="setColor_sec08" serializeAs="String">
                <value>232, 102, 21</value>
            </setting>
            <setting name="setColor_sec09" serializeAs="String">
                <value>255, 160, 170</value>
            </setting>
            <setting name="setColor_sec10" serializeAs="String">
                <value>205, 204, 246</value>
            </setting>
            <setting name="setColor_sec11" serializeAs="String">
                <value>213, 239, 190</value>
            </setting>
            <setting name="setColor_sec12" serializeAs="String">
                <value>247, 200, 247</value>
            </setting>
            <setting name="setColor_sec13" serializeAs="String">
                <value>253, 241, 144</value>
            </setting>
            <setting name="setColor_sec14" serializeAs="String">
                <value>187, 250, 250</value>
            </setting>
            <setting name="setColor_sec15" serializeAs="String">
                <value>227, 201, 249</value>
            </setting>
            <setting name="setColor_sec16" serializeAs="String">
                <value>247, 229, 215</value>
            </setting>
            <setting name="setColor_isMultiColorSections" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_customSectionColors" serializeAs="String">
                <value>-62208,-12299010,-16190712,-1505559,-3621034,-16712458,-7330570,-1546731,-24406,-3289866,-2756674,-538377,-134768,-4457734,-1848839,-530985</value>
            </setting>
            <setting name="setBrand_TBrand" serializeAs="String">
                <value>AGOpenGPS</value>
            </setting>
            <setting name="setBrand_HBrand" serializeAs="String">
                <value>AGOpenGPS</value>
            </setting>
            <setting name="setBrand_WDBrand" serializeAs="String">
                <value>AGOpenGPS</value>
            </setting>
            <setting name="setHeadland_isSectionControlled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setSound_isAutoSteerOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setRelay_pinConfig" serializeAs="String">
                <value>1,2,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="setDisplay_camSmooth" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setGPS_dualHeadingOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setF_isSteerWorkSwitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setF_isRemoteWorkSystemOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_isAutoStartAgIO" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAS_ModeXTE" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setAS_ModeTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_toolWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="setVehicle_toolOverlap" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTool_toolTrailingHitchLength" serializeAs="String">
                <value>-2.5</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setSection_position1" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="setSection_position2" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="setSection_position3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setSection_position4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setSection_position5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position14" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position15" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position16" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position17" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="purePursuitIntegralGainAB" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="set_youMoveDistance" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="setVehicle_antennaHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_toolLookAheadOn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setTool_isToolTrailing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_toolOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTool_isToolRearFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_antennaPivot" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_wheelbase" serializeAs="String">
                <value>2.8</value>
            </setting>
            <setting name="setVehicle_hitchLength" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="setVehicle_toolLookAheadOff" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="setVehicle_isPivotBehindAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_isSteerAxleAhead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_vehicleName" serializeAs="String">
                <value>Default Vehicle</value>
            </setting>
            <setting name="setVehicle_slowSpeedCutoff" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="setVehicle_tankTrailingHitchLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_minCoverage" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setVehicle_goalPointLookAhead" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_maxAngularVelocity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="setVehicle_maxSteerAngle" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="set_youTurnExtensionLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="set_youToolWidths" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_minTurningRadius" serializeAs="String">
                <value>8.1</value>
            </setting>
            <setting name="setVehicle_antennaOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_youTurnDistanceFromBoundary" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_lookAheadMinimum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_goalPointLookAheadMult" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stanleyDistanceErrorGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="stanleyHeadingErrorGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isStanleyUsed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setTram_BasedOn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTram_Skips" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTool_isToolTBT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_vehicleType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_youSkipWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setArdSteer_setting1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setArdSteer_minSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setArdSteer_maxSpeed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="setArdSteer_setting0" serializeAs="String">
                <value>56</value>
            </setting>
            <setting name="setVehicle_hydraulicLiftLookAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_isMachineControlToAutoSteer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setArdSteer_maxPulseCounts" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setArdMac_hydRaiseTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setArdMac_hydLowerTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="setArdMac_isHydEnabled" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setTool_defaultSectionWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_toolOffDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setArdMac_setting0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setArdSteer_setting2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="stanleyIntegralDistanceAwayTriggerAB" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="setTool_isToolFront" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_startSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_trackWidth" serializeAs="String">
                <value>1.9</value>
            </setting>
            <setting name="setArdMac_isDanfoss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="stanleyIntegralGainAB" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="setSection_isFast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setArdMac_user1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setArdMac_user2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setArdMac_user3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setArdMac_user4" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="setVehicle_panicStopSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_ModeMultiplierStanley" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="setDisplay_brightness" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="set_youTurnRadius" serializeAs="String">
                <value>8.1</value>
            </setting>
            <setting name="setDisplay_brightnessSystem" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="setTool_isSectionsNotZones" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setTool_numSectionsMulti" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="setTool_zones" serializeAs="String">
                <value>2,10,20,0,0,0,0,0,0</value>
            </setting>
            <setting name="setTool_sectionWidthMulti" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="setDisplay_isBrightnessOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setKey_hotkeys" serializeAs="String">
                <value>ACFGMNPTYVW12345678</value>
            </setting>
            <setting name="setVehicle_goalPointLookAheadHold" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setTool_isSectionOffWhenOut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_uTurnStyle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setGPS_minimumStepLimit" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="setAS_isSteerInReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_functionSpeedLimit" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setAS_maxAngularVelocity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="setAS_maxSteerSpeed" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="setAS_minSteerSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </AgOpenGPS.Properties.Settings>
  </userSettings>
</configuration>
