<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="AgOpenGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="WeGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="GPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AgOpenGPS.Properties.Settings>
            <setting name="setCam_pitch" serializeAs="String">
                <value>-20</value>
            </setting>
            <setting name="setPort_portName" serializeAs="String">
                <value>COM GPS...</value>
            </setting>
            <setting name="setPort_baudRate" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="setVehicle_toolWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="setVehicle_toolOverlap" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_toolTrailingHitchLength" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="setWindow_Location" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="setWindow_Size" serializeAs="String">
                <value>900, 600</value>
            </setting>
            <setting name="setWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWindow_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setSection_nudSpin1" serializeAs="String">
                <value>-8.0</value>
            </setting>
            <setting name="setSection_nudSpin2" serializeAs="String">
                <value>-3.0</value>
            </setting>
            <setting name="setSection_nudSpin3" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="setSection_nudSpin4" serializeAs="String">
                <value>8.0</value>
            </setting>
            <setting name="setSection_nudSpin5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_nudSpin6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setPort_NMEAHz" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setVehicle_antennaHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_lookAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setPort_portNameArduino" serializeAs="String">
                <value>COM Section...</value>
            </setting>
            <setting name="setPort_wasArduinoConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_isToolTrailing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_toolOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_isToolBehindPivot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_antennaPivot" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="setVehicle_wheelbase" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setVehicle_hitchLength" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="setDisplay_delayFixPrev" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setDisplay_delayCameraPrev" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="setVehicle_turnOffDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isPivotBehindAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_isSteerAxleAhead" serializeAs="String">
                <value>True</value>
            </setting>
        </AgOpenGPS.Properties.Settings>
  </userSettings>
</configuration>
