<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.1.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="3.1.0" targetFramework="net45" />
  <package id="Tinkerforge" version="2.1.24" targetFramework="net45" />
  <package id="WebEye.Controls.WinForms.WebCameraControl" version="1.0.2" targetFramework="net45" />
</packages>