<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AgOpenGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <AgOpenGPS.Properties.Settings>
            <setting name="setCam_pitch" serializeAs="String">
                <value>-15</value>
            </setting>
            <setting name="setPort_portNameGPS" serializeAs="String">
                <value>COM GPS...</value>
            </setting>
            <setting name="setPort_baudRate" serializeAs="String">
                <value>4800</value>
            </setting>
            <setting name="setVehicle_toolWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="setVehicle_toolOverlap" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_toolTrailingHitchLength" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="setWindow_Location" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="setWindow_Size" serializeAs="String">
                <value>900, 600</value>
            </setting>
            <setting name="setWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWindow_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setSection_position1" serializeAs="String">
                <value>-8.0</value>
            </setting>
            <setting name="setSection_position2" serializeAs="String">
                <value>-3.0</value>
            </setting>
            <setting name="setSection_position3" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="setSection_position4" serializeAs="String">
                <value>8.0</value>
            </setting>
            <setting name="setSection_position5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_antennaHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_lookAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setPort_portNameRelay" serializeAs="String">
                <value>COM Section...</value>
            </setting>
            <setting name="setPort_wasRelayConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_isToolTrailing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_toolOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_isToolBehindPivot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_antennaPivot" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="setVehicle_wheelbase" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setVehicle_hitchLength" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="setDisplay_delayFixPrev" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setDisplay_delayCameraPrev" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="setVehicle_turnOffDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isPivotBehindAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_isSteerAxleAhead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setCam_isAtanCam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setDisplay_triangleResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setIsMetric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIsGridOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIsLightbarOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIsAreaRight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setCurrentDir" serializeAs="String">
                <value />
            </setting>
            <setting name="setFieldColorR" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setFieldColorG" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="setFieldColorB" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="setSectionColorR" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="setSectionColorG" serializeAs="String">
                <value>190</value>
            </setting>
            <setting name="setSectionColorB" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="setIsWorkSwitchActiveLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setIsWorkSwitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setVehicle_Name" serializeAs="String">
                <value>"Default"</value>
            </setting>
        </AgOpenGPS.Properties.Settings>
  </userSettings>
</configuration>
