<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AgIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <AgIO.Properties.Settings>
            <setting name="setPort_portNameGPS" serializeAs="String">
                <value>GPS**</value>
            </setting>
            <setting name="setPort_baudRateGPS" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="setUDP_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_wasSteerModuleConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameSteer" serializeAs="String">
                <value>Steer*</value>
            </setting>
            <setting name="setPort_wasModule3Connected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameTool" serializeAs="String">
                <value>Tool**</value>
            </setting>
            <setting name="setIP_thisPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="setIP_autoSteerPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="setNTRIP_casterIP" serializeAs="String">
                <value>69.75.31.235</value>
            </setting>
            <setting name="setNTRIP_casterPort" serializeAs="String">
                <value>2101</value>
            </setting>
            <setting name="setNTRIP_mount" serializeAs="String">
                <value>SCSC</value>
            </setting>
            <setting name="setNTRIP_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="setNTRIP_userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="setNTRIP_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNTRIP_sendGGAInterval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setNTRIP_sendToUDPPort" serializeAs="String">
                <value>2233</value>
            </setting>
            <setting name="setNTRIP_manualLat" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="setNTRIP_manualLon" serializeAs="String">
                <value>-111</value>
            </setting>
            <setting name="setNTRIP_casterURL" serializeAs="String">
                <value>NTRIP.itsware.net</value>
            </setting>
            <setting name="setNTRIP_isGGAManual" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNTRIP_isTCP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNTRIP_isHTTP10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPgm_isFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPgm_defaultLat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setPgm_defaultLon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setF_culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="setF_workingDirectory" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="setGPS_SimLatitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setGPS_SimLongitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setComm_commName" serializeAs="String">
                <value />
            </setting>
            <setting name="setPort_portNameGPS2" serializeAs="String">
                <value>GPS2</value>
            </setting>
            <setting name="setPort_baudRateGPS2" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="setPort_portNameMachine" serializeAs="String">
                <value>Mach**</value>
            </setting>
            <setting name="setPort_wasMachineModuleConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_wasIMUConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameIMU" serializeAs="String">
                <value>IMU</value>
            </setting>
            <setting name="setPort_wasGPSConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameRadio" serializeAs="String">
                <value>***</value>
            </setting>
            <setting name="setPort_baudRateRadio" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="setPort_radioChannel" serializeAs="String">
                <value>439.000</value>
            </setting>
            <setting name="setRadio_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setUDP_isSendNMEAToUDP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameRtcm" serializeAs="String">
                <value>RTCM</value>
            </setting>
            <setting name="setPort_baudRateRtcm" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="setPort_wasRtcmConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNTRIP_sendToSerial" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setNTRIP_sendToUDP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setNTRIP_packetSize" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="setMod_isIMUConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMod_isMachineConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMod_isSteerConnected" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setPass_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="etIP_SubnetOne" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="etIP_SubnetTwo" serializeAs="String">
                <value>168</value>
            </setting>
            <setting name="etIP_SubnetThree" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="eth_loopOne" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="eth_loopTwo" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="eth_loopThree" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="eth_loopFour" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </AgIO.Properties.Settings>
    </userSettings>
</configuration>
