<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GPS_UDP_Simulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GPS_UDP_Simulator.Properties.Settings>
            <setting name="GPS_Latitude" serializeAs="String">
                <value>53.4360564</value>
            </setting>
            <setting name="GPS_Longitude" serializeAs="String">
                <value>-111.160047</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.1.255</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="Hz" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isGGA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isVTG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAVR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isHDT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isOGI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isRMC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isIMU" serializeAs="String">
                <value>True</value>
            </setting>
        </GPS_UDP_Simulator.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
