<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteerSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AgSim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteerSim.Properties.Settings>
            <setting name="setPort_portNameGPS" serializeAs="String">
                <value>GPS**</value>
            </setting>
            <setting name="setPort_baudRateGPS" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="setPort_wasGPSConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="set_nmeaHz" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="set_nudHz" serializeAs="String">
                <value>1</value>
            </setting>
        </SteerSim.Properties.Settings>
        <AgSim.Properties.Settings>
            <setting name="setting_portName" serializeAs="String">
                <value>COM Hmmm</value>
            </setting>
            <setting name="setting_baudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
        </AgSim.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
