<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="AgOpenGPS.Properties.Vehicle" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AgOpenGPS.Vehicle" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AgOpenGPS.Properties.YouTurn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AgOpenGPS.Properties.Youturn" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="AgOpenGPS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup><userSettings>
        <AgOpenGPS.Properties.Vehicle>
            <setting name="setVehicle_toolWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="setVehicle_toolOverlap" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_toolTrailingHitchLength" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setSection_position1" serializeAs="String">
                <value>-6.0</value>
            </setting>
            <setting name="setSection_position2" serializeAs="String">
                <value>-1.0</value>
            </setting>
            <setting name="setSection_position3" serializeAs="String">
                <value>1.0</value>
            </setting>
            <setting name="setSection_position4" serializeAs="String">
                <value>6.0</value>
            </setting>
            <setting name="setSection_position5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_antennaHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_lookAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_isToolTrailing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_toolOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_isToolBehindPivot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_antennaPivot" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_wheelbase" serializeAs="String">
                <value>4.2</value>
            </setting>
            <setting name="setVehicle_hitchLength" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="setVehicle_turnOffDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isPivotBehindAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_isSteerAxleAhead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_Name" serializeAs="String">
                <value>Default - </value>
            </setting>
            <setting name="setSection_position7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_slowSpeedCutoff" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_tankTrailingHitchLength" serializeAs="String">
                <value>-1.5</value>
            </setting>
            <setting name="setVehicle_minApplied" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setVehicle_goalPointLookAhead" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_maxAngularVelocity" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="setVehicle_maxSteerAngle" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="set_youSkipWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_youSkipHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_youStartYouTurnAt" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="set_youToolWidths" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="seq_FunctionEnter" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_FunctionExit" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_ActionEnter" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_ActionExit" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_DistanceEnter" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_DistanceExit" serializeAs="String">
                <value>0,0,0,0,0,0,0,0</value>
            </setting>
            <setting name="seq_FunctionList" serializeAs="String">
                <value>Relay 1,Relay 2,Relay 3,Relay 4,Relay 5,Relay 6</value>
            </setting>
            <setting name="seq_ActionList" serializeAs="String">
                <value>Turn Off,Turn On</value>
            </setting>
            <setting name="setVehicle_minTurningRadius" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="set_youUseDubins" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_antennaOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_youTriggerDistance" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="setVehicle_lookAheadDistanceFromLine" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_lookAheadMinimum" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_goalPointLookAheadUturnMult" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="set_geoFenceDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_stanleyGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_stanleyHeadingErrorGain" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isStanleyUsed" serializeAs="String">
                <value>True</value>
            </setting>
        </AgOpenGPS.Properties.Vehicle>
        <AgOpenGPS.Vehicle>
            <setting name="setVehicle_toolWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="setVehicle_toolOverlap" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="setVehicle_toolTrailingHitchLength" serializeAs="String">
                <value>-2</value>
            </setting>
            <setting name="setVehicle_numSections" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setSection_position1" serializeAs="String">
                <value>-8.0</value>
            </setting>
            <setting name="setSection_position2" serializeAs="String">
                <value>-3.0</value>
            </setting>
            <setting name="setSection_position3" serializeAs="String">
                <value>3.0</value>
            </setting>
            <setting name="setSection_position4" serializeAs="String">
                <value>8.0</value>
            </setting>
            <setting name="setSection_position5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_antennaHeight" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_lookAhead" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_isToolTrailing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_toolOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_isToolBehindPivot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_antennaPivot" serializeAs="String">
                <value>1.1</value>
            </setting>
            <setting name="setVehicle_wheelbase" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setVehicle_hitchLength" serializeAs="String">
                <value>-0.5</value>
            </setting>
            <setting name="setVehicle_turnOffDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_isPivotBehindAntenna" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_isSteerAxleAhead" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setVehicle_Name" serializeAs="String">
                <value>Default - </value>
            </setting>
            <setting name="setSection_position7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setSection_position9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setVehicle_slowSpeedCutoff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setVehicle_tankTrailingHitchLength" serializeAs="String">
                <value>-1.5</value>
            </setting>
            <setting name="setVehicle_minApplied" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="setVehicle_goalPointLookAhead" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setVehicle_maxAngularVelocity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setVehicle_maxSteerAngle" serializeAs="String">
                <value>20</value>
            </setting>
        </AgOpenGPS.Vehicle>
        <AgOpenGPS.Properties.YouTurn>
            <setting name="set_youSkipWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_youSkipHeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="set_youStartYouTurnAt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_youToolWidths" serializeAs="String">
                <value>2</value>
            </setting>
        </AgOpenGPS.Properties.YouTurn>
        <AgOpenGPS.Properties.Youturn>
            <setting name="uset_skipWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="uset_skipHeight" serializeAs="String">
                <value>1</value>
            </setting>
        </AgOpenGPS.Properties.Youturn>
        <AgOpenGPS.Properties.Settings>
            <setting name="setCam_pitch" serializeAs="String">
                <value>-32</value>
            </setting>
            <setting name="setPort_portNameGPS" serializeAs="String">
                <value>COM GPS...</value>
            </setting>
            <setting name="setPort_baudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="setWindow_Location" serializeAs="String">
                <value>30, 30</value>
            </setting>
            <setting name="setWindow_Size" serializeAs="String">
                <value>1024, 768</value>
            </setting>
            <setting name="setWindow_Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setWindow_Minimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameRateRelay" serializeAs="String">
                <value>COM Section...</value>
            </setting>
            <setting name="setPort_wasRateRelayConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_triangleResolution" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setMenu_isMetric" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isGridOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isLightbarOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isAreaRight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setF_CurrentDir" serializeAs="String">
                <value />
            </setting>
            <setting name="setF_FieldColorR" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="setF_FieldColorG" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="setF_FieldColorB" serializeAs="String">
                <value>98</value>
            </setting>
            <setting name="setF_SectionColorR" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="setF_SectionColorG" serializeAs="String">
                <value>151</value>
            </setting>
            <setting name="setF_SectionColorB" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="setF_IsWorkSwitchActiveLow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setF_IsWorkSwitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_portNameAutoSteer" serializeAs="String">
                <value>COM AS</value>
            </setting>
            <setting name="setPort_wasAutoSteerConnected" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_pitchZero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setIMU_rollZero" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setMenu_isLogNMEA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setF_minFixStep" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setAS_Ko" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setAS_Kp" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setAS_Ki" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_Kd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_steerAngleOffset" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="setF_UserTripAlarm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setF_UserTotalArea" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setAS_minSteerPWM" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setF_boundaryTriggerDistance" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setAS_maxIntegral" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="setMenu_isSideGuideLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setAS_countsPerDegree" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="setMenu_isPureOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setAS_youTurnShape" serializeAs="String">
                <value>Keyhole.txt</value>
            </setting>
            <setting name="setIP_thisPort" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="setIP_autoSteerIP" serializeAs="String">
                <value>192.168.1.255</value>
            </setting>
            <setting name="setIP_autoSteerPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="setIP_rateRelayIP" serializeAs="String">
                <value>192.168.1.255</value>
            </setting>
            <setting name="setIP_rateRelayPort" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="setMenu_isSimulatorOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setMenu_isSkyOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="setF_workingDirectory" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="setIMU_UID" serializeAs="String">
                <value>68wESU</value>
            </setting>
            <setting name="setIMU_isRollFromDogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_isHeadingFromBrick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_isHeadingFromBNO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_isRollFromBrick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_isRollFromGPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setPort_NMEAHz" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="setIMU_isHeadingFromPAOGI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setIMU_isRollFromPAOGI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDisplay_lightbarCmPerPixel" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="setUDP_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setGPS_fixFromWhichSentence" serializeAs="String">
                <value>GGA</value>
            </setting>
            <setting name="setGPS_headingFromWhichSource" serializeAs="String">
                <value>Fix</value>
            </setting>
            <setting name="setRate_FlowmeterCalNumberLeft" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="setRate_FlowmeterCalNumberRight" serializeAs="String">
                <value>1600</value>
            </setting>
            <setting name="setRate_rateLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="setRate_rateRight" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="setRate_DualAccumulatedVolume" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="setRate_isSingleFlowMeter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setGPS_Latitude" serializeAs="String">
                <value>53.4360564</value>
            </setting>
            <setting name="setGPS_Longitude" serializeAs="String">
                <value>-111.160047</value>
            </setting>
            <setting name="setNTRIP_casterIP" serializeAs="String">
                <value>69.75.31.235</value>
            </setting>
            <setting name="setNTRIP_casterPort" serializeAs="String">
                <value>2101</value>
            </setting>
            <setting name="setNTRIP_mount" serializeAs="String">
                <value>SRG</value>
            </setting>
            <setting name="setNTRIP_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="setNTRIP_userPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="setNTRIP_isOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setNTRIP_sendGGAInterval" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="setNTRIP_sendToUDPPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setNTRIP_manualLat" serializeAs="String">
                <value>53</value>
            </setting>
            <setting name="setNTRIP_manualLon" serializeAs="String">
                <value>-111</value>
            </setting>
            <setting name="setNTRIP_casterURL" serializeAs="String">
                <value>www.rtk2go.com</value>
            </setting>
            <setting name="setNTRIP_isGGAManual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setDisplay_snapDistance" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="setDisplay_snapDistanceSmall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="setDisplay_isLargePanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="setDistance_TreeSpacing" serializeAs="String">
                <value>0</value>
            </setting>
        </AgOpenGPS.Properties.Settings>
  </userSettings>
</configuration>