<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArdEmu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArdEmu.Properties.Settings>
            <setting name="nud0" serializeAs="String">
                <value>127</value>
            </setting>
            <setting name="nud1" serializeAs="String">
                <value>253</value>
            </setting>
            <setting name="nud2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud3" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="nud4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud5" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="nud6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud8" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nud9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="nudTimer" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="setIP_thisPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="setIP_autoSteerIP" serializeAs="String">
                <value />
            </setting>
            <setting name="setIP_autoSteerPort" serializeAs="String">
                <value>9999</value>
            </setting>
        </ArdEmu.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
